# Node.js
node_modules/
npm-debug.log

# Environment variables
.env

# Terraform
*.tfstate
*.tfstate.*
.terraform/

# Logs
*.log

# OS files
.DS_Store

# Kubernetes
kubeconfig

# IDE
.vscode/
.idea/

# Helm
*.tgz

# Temporary files
tmp/
temp/

# Kubernetes Secrets
k8s/secret.yaml
